.App {
  text-align: center;
}

.home-header {
  background-image: url("./images/2581537.jpg");
  background-size: cover;
  background-position: center;
  background-color: #282c34;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.reigster_form {
  font-size: medium;
  position: absolute;
  top: 30%;
  background-color: white;
  padding: 5%;
  padding-left: -2%;
  padding-right: -2%;
}
.container #searchLabel {
  position: relative;
}
.container #searchBtn {
  position: relative;
  left: 5%;
  bottom: 5%;
}
#chart {
  position: relative;
  left: 0%;
}
.container #searchBtn:hover {
  background-color: white;
  color: #282c34;
}
.container #endDate {
  position: relative;
  left: 2%;
}

.container #startDate {
  position: relative;
  left: 1%;
}

.main #page_heading {
  position: absolute;
  font-size: medium;
  top: 5%;
  left: 2%;
}
.container #buttons:hover {
  background-color: white;
  color: #282c34;
}
.container #buttons1 {
  position: relative;
  left: 2%;
}
.container #buttons1:hover {
  background-color: white;
  color: #282c34;
}

.home-header #button_register {
  position: relative;
  left: 2%;
}
.home-header #button_register:hover {
  background-color: white;
  color: #282c34;
}
#ref {
  font-size: 10px;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.container #search_input {
  position: relative;
  left: 2%;
}
.home-header #navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0em;
  margin: 0em;
  height: 5%;
}

#navbrand {
  padding: 0em;
  position: relative;
  top: 0%;
  left: 0%;
  margin: 5px;
}
.container {
  font-size: 70%;
}
.container #Dropdown {
  font-size: small;
  width: 50%;
  height: 50;
}
#home_button {
  border: none;
  background-color: transparent;
}
.home-header #navbar .links {
  font-size: 20px;
  height: 100%;
}
.home-header .links2 {
  position: absolute;
  right: 0%;
  font-size: 20px;
  height: 100%;
}

.links #home:hover {
  background-color: #282c34;
  color: white;
  height: 100%;
}
.links #home {
  color: white;
}
.links #stocks:hover {
  background-color: #282c34;
  color: white;
}
.links #stocks {
  color: white;
}
.links #quote:hover {
  background-color: #282c34;
  color: white;
}
.links #quote {
  color: white;
}
.links #price_history:hover {
  background-color: #282c34;
  color: white;
}
.links #price_history {
  color: white;
}

.links2 #register:hover {
  background-color: #282c34;
  color: white;
}
.links2 #register {
  color: white;
}
.links2 #login {
  color: white;
}
.links2 #login:hover {
  background-color: #282c34;
  color: white;
}
.links2 #logout:hover {
  background-color: #282c34;
  color: white;
}
.links2 #logout {
  color: white;
}
.links2 #statusBar {
  position: absolute;
  font-size: medium;
  color: black;
  padding: 10%;
  top: 100%;
  right: 5%;
  background-color: white;
}

.home-header #about {
  position: absolute;
  left: 1%;
  top: 32%;
  margin: 10px;
}
.home-header #para {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
